<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="no.uka.findmyapp.ukaprogram" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!-- 	<uses-permission android:name="android.permission.camera" /> -->

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/CustomTheme" android:debuggable="true">

		<activity android:name="no.uka.findmyapp.ukaprogram.activities.StartupLoader"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="no.uka.findmyapp.ukaprogram.activities.Main"
			android:screenOrientation="portrait">
		</activity>
		
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.EventDetailsActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.EventListActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.FavoritesListActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.CalendarActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.DateActivity" android:screenOrientation="portrait"></activity>
		
		<provider android:name="no.uka.findmyapp.ukaprogram.providers.UkaEventProvider" 
			android:authorities="no.uka.findmyapp.android.rest.providers.program" 
			android:exported="false"
			android:enabled="true">
			
			<grant-uri-permission android:pathPattern=".*" />
		</provider> 
		
		<service android:name=".restlibrary.RestIntentService" />

	</application>

</manifest>