<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="no.uka.findmyapp.ukaprogram" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7"/>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.camera" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:screenOrientation="portrait">

		<activity android:name="no.uka.findmyapp.ukaprogram.activities.StartupLoader"
			android:label="@string/app_name" android:screenOrientation="portrait"  android:allowTaskReparenting="false">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.Main" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.EventDetailsActivity" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.lists.EventListActivity" android:screenOrientation="portrait"></activity>
		<activity android:name=".activities.lists.FavouritesListActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.EditContactActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.CalendarActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.DateActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.FiveNextActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.SettingsActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.lists.LocationListActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.PlacesActivity"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.NewsActivity"></activity>
		<activity android:name=".activities.lists.ConcertListActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.Feedback" android:screenOrientation="portrait"></activity>
		<activity android:name="no.uka.findmyapp.ukaprogram.activities.FacebookAuthentication" android:screenOrientation="portrait"></activity>
	
		<service android:name="no.uka.findmyapp.android.rest.client.RestIntentService" />
		
		<provider
		    android:authorities="no.uka.findmyapp.android.rest.providers.program"
		    android:multiprocess="true"
		    android:name="no.uka.findmyapp.android.rest.providers.UkaEventProvider">
		</provider>
		<provider
		    android:authorities="no.uka.findmyapp.android.rest.providers.location"
		    android:multiprocess="true"
		    android:name="no.uka.findmyapp.android.rest.providers.LocationProvider">
		</provider>
	</application>

</manifest>